{# Ceci est mon footer à personnaliser puis à ajouter dans mon fichier de base pour l'avoir sur toutes mes pages #}

<footer class="text-center bg-light d-flex" style="height: 100px">
    <p class="m-auto"> &copy;Insercall {{ 'now'|date('Y') }}<br>
    {# Ajout d'un lien si beoin #}
    {# <a href="{{ path('app_home_contact') }}">Contact</a> #}
    </p>
    
</footer>