{# Ceci est mon header à personnaliser puis à ajouter dans mon fichier de base pour l'avoir sur toutes mes pages #}

<header>
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('app_home') }}"><img src="{{ asset('/images/logo-insercall-violet.png') }}" alt="logo Insercall" width="50%"></a>
        </div>
        <div class="col-md-6 d-flex justify-content-end align-items-center">
            <div class="p-3"><a href="https://insercall.com" target="_blank">Site Web</a></div>    
            <div class="p-3"><a href="mailto:fatma.hamu@insercall.com" target="_blank">Contact </a></div>
            <div class="p-3"><a href="#">04 32 400 000</a></div>
        </div>
    </div>
</header>