{% extends 'base.html.twig' %}

{% block title %}Congés  de {{ user.fullName }} {% endblock %}

{% block body %}
    <h1>Demande de congés de {{ user.fullName }} </h1>
    <h2>Les demandes en cours de contrat (depuis le début ou le renouvellement s'il existe) </h2>
    <p> Droits : 8 jours lors d'un contrat de 4 mois </p>
    <p> liste de toutes les demandes avec le statut </p>
    <p> Total acceptés lors de ce contrat: </p>

    <h2>Les congés déjà pris (acceptés + avant le dernier renouvellement)</h2>

{% endblock %}

