{% extends 'base.html.twig' %}

{% block title %}Contact | {{ parent() }}{% endblock %}

{% block body %}

<div class="text-center">
    <h1>Nous contacter</h1>
    <img src="{{ asset('/images/picto.jpg') }}" alt="pictogramme">
    <p>
        Bienvenue sur la page de Contact<br>
        Insercall <br>
        <a href="https://insercall.com/" target="_blank">Voir le site d'Insercall</a>
    </p>
    <p>
        <a href="{{ path('app_home') }}">Retour accueil</a> 
    </p>   
</div>
{% endblock %}
