/* body{
    font-size: 18px;
    font-weight: 500;
} */

main {
    min-height: 50vh;
    }
    
    h1{
        color: rgb(47, 79, 79);
        margin: 5px;
    }
    
    form{
        margin-bottom: 20px;
    }
    
    .header a{
        color: black;
        text-decoration: none;
    }

/* Les boutons de navigations pour ma page*/
.btnspecial{
    border-radius: 10px 100px / 120px;
    width: 100px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.btnspecial:hover{
    border-radius: 100px 10px / 120px;
}
.btn-green{
    color: white !important;
    background: #94c120;
}
.btn-green:hover{
    color: #94c120 !important;
    background: #d4e4a6;
    border: #94c120 2px solid;
}

.btn-bleu{
    color: white !important;
    background-color: #04a39e;
}
.btn-bleu:hover{
    color:#04a39e !important;
    background-color: #b1d4d0;
    border: #04a39e 2px solid;
}

.btn-violet{
    color: white !important;
    background-color: #681239;
}
.btn-violet:hover{
    color:#681239 !important;
    background-color: #b993a0;
    border: #681239 2px solid;
}

.btn-orange{
    color: white !important;
    background-color: #f39108;
}
.btn-orange:hover{
    color:#f39108 !important;
    background-color: #fcd6a7;
    border: #f39108 2px solid;
}


