main {
    min-height: 50vh;
    }
    
h1, .h1{
    color: #681239 !important;
    margin: 20px;
    font-size: 2.5rem;
}

/* Les couleurs Insercall */

.bg-violet{
    color:#681239 !important;
    background-color: #b993a0;
}
.bg-vert{
    color: #94c120 !important;
    background: #d4e4a6;
}
.bg-bleu{
    color:#04a39e !important;
    background-color: #b1d4d0;
}
.bg-orange{
    color:#f39108 !important;
    background-color: #fcd6a7;
}

[data-color="monViolet"]{
    color: white !important;
    background-color: #681239 !important;
}
[data-color="monVert"]{
    color: white !important;
    background: #94c120 !important;
}
[data-color="monBleu"]{
    color: white !important;
    background-color: #04a39e !important;
}
[data-color="monOrange"]{
    color:white !important;
    background-color: #f39108 !important;
}

    
/* les liens du premier header */
.header a{
    color: black;
    text-decoration: none;
}
.btn a{
    color: white;
    text-decoration: none;
}
.btn-violet a:hover{
    color: #681239;
}
.btn-green a:hover{
    color: #94c120;
}
.btn-bleu a:hover{
    color: #04a39e;
}
.btn-orange a:hover{
    color: #f39108;
}

/* Les boutons de navigations*/
.btnspecial{
    border-radius: 10px 100px / 120px;
    width: 100px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.btnspecial:hover{
    border-radius: 100px 10px / 120px;
}
.btn-green{
    color: white !important;
    background: #94c120;
}
.btn-green:hover{
    color: #94c120 !important;
    background: #d4e4a6;
    border: #94c120 2px solid;
}

.btn-bleu{
    color: white !important;
    background-color: #04a39e;
}
.btn-bleu:hover{
    color:#04a39e !important;
    background-color: #b1d4d0;
    border: #04a39e 2px solid;
}

.btn-violet{
    color: white !important;
    background-color: #681239;
}
.btn-violet:hover{
    color:#681239 !important;
    background-color: #b993a0;
    border: #681239 2px solid;
}

.btn-orange{
    color: white !important;
    background-color: #f39108;
}
.btn-orange:hover{
    color:#f39108 !important;
    background-color: #fcd6a7;
    border: #f39108 2px solid;
}

/*Le formulaire */
form{
    margin-bottom: 20px;
}

/* Les alertes */

.alert{
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #681239;
    /*Par défaut Bootsrtap met une border à ses classes alertes, je peux les retirer et personnaliser mon CSS */
    /* margin: 0;
    border: none;
    border-radius: 0; */
}
/* .alert-success{
        background-color: green;
}
.alert-info{
        background-color: red;
} */
