{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste de tous les salariés d'Insercall</h1>
    <h3> Salariés présents et passés:  {{ users|length }} salariés. </h3>
        {% include "_partials/_tableauSalaries.html.twig" %}

    <div class="lien btn btn-lg btn-violet d-grid gap-2 col-6 mx-auto"><a href="{{ path('app_users_create') }}">Ajouter un salarié</a></div>
</div>
{% endblock %}
